@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  background-color: #00D1B2;
  display: flex;
  justify-content: center;
}

header {
  color: white;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}
