@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
  font-family: 'Indie Flower', cursive;
}

body {
  background-color: #00D1B2;
  width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

header {
  color: white;
  text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.key {
  height: 125px;
    width: 125px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin-top: 30px;
    color: #8c8c88;
    transition:all 0.07s;
  }

.playing {
    transform:scale(1.1);
}

  kbd {
    font-size: 40px;
  }

  .sound {
    font-size: 24px:
  }

  .keys {
    width: 500px;
  min-height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
  }

  /*
 * Responsiveness
 */

@media screen and (max-width: 460px){

    .keys {
        width: 250px;
        min-height: 290px;
        max-height: 290px;
        padding: 2px 4px 2px;
    }

    .key {
        width: 55px;
        height: 55px;
    }
    
    h1, h2 {
        font-size: 18px;
    }
    
    kbd {
    font-size: 20px;
  }

}

@media screen and (min-width: 460px) and (max-width: 700px) {
    .keys {
        width: 400px;
        min-height: 420px;
        
    }

    .key {
        width: 90px;
        height: 90px;
    }
    
     h1, h2 {
        font-size: 24px;
    }

  }
