@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Variables */

:root {
   --base: #ffc600;
    --spacing: 10px;
    --blur: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    text-align: center;
    background-color: #263e59;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    width: 70%;
    max-width: 700px;
    height: auto;
   
}

h1 {
    color: white;
}

.h2 {
    color: var(--base);
}

.controls {
    padding-bottom: 20px;
    color: white;
    font-size: 20px;
}

